 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CekIn-Deteksi Link DANA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
  <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet"> 
        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
        <!-- Libraries Stylesheet -->
        <link href="{{url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='lib/lightbox/css/lightbox.min.css')}}" rel="stylesheet">
        <!-- Customized Bootstrap Stylesheet -->
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
          <!-- Tautan ke Bootstrap CSS -->
           <!-- Tautan ke Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            </head>
              <script>
        // Check if the page was reloaded
        if (performance.navigation.type === 1) {
            window.location.href = '/';
        }
    </script>
<body>
    <div class="container-xxl bg-white p-0">
        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0" id="home">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <h1 href="" class="navbar-brand p-0">
                 <img src= "{{url_for('static', filename='img/logo2.png')}} " alt="image"> 
                </h1>
                <button class="navbar-toggler rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav mx-auto py-0">
        <a href="/reset" class="nav-item nav-link active">Home</a>
        <a href="/dana" class="nav-item nav-link">About Dana</a>
        <a href="/pp" class="nav-item nav-link">About Phishing</a>
        <a href="/tips" class="nav-item nav-link">Tips & Trik</a>
    </div>
</div>

               </div>
</nav>
 <!DOCTYPE html>
<html lang="en">

        <!-- About Start -->
        <div class="container-xxl py-6" id="about">
            <div class="container">
                <div class="row g-5 flex-column-reverse flex-lg-row">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="mb-4">Apa itu Dana Kaget?</h1>
                        <p class="mb-4">DANA Kaget adalah fitur di aplikasi DANA yang memungkinkan pengguna berbagi saldo DANA kepada pengguna DANA lainnya dalam satu waktu secara bersamaan. Pengirim bebas menentukan nominal uang dan jumlah penerimanya! Sebagai pengirim DANA Kaget diharuskan sudah upgrade akun DANA Premium dan dapat mengirimkan DANA Kaget ke pengguna akun DANA.</p>
                        <div class="d-flex mb-4">
                            <div class="flex-shrink-0 btn-square rounded-circle bg-primary text-white">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="ms-4">
                                <h5>Bagaimana Cara membagikan Dana Kaget?</h5>
                                <p class="mb-0">1.Buka aplikasi DANA.</p>
                                <p class="mb-0">2.Tap DANA Kaget di Semua Layanan.</p>
                                <p class="mb-0">3.Masukkan jumlah uang yang ingin dikirim.</p>
                                <p class="mb-0">4.Pilih metode pembayaran.</p>
                                <p class="mb-0">5.Pilih jumlah pemenang.</p>
                                <p class="mb-0">6.Kamu juga bisa memasukkan catatan DANA Kaget.</p>
                                <p class="mb-0">7.Pastikan semua informasi DANA Kaget sudah benar, kemudian tap Kirim.</p>
                                <p class="mb-0">8.Masukkan PIN DANA kamu.</p>
                                <p class="mb-0">9.Tap Bagikan ke Teman untuk membagikan DANA Kaget.</p>
                                <p class="mb-0">10.Selesai, DANA Kaget berhasil dibagikan!</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="flex-shrink-0 btn-square rounded-circle bg-primary text-white">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="ms-4">
                                <h5>Bagaimana cara klaim DANA Kaget?</h5>
                                <p class="mb-0">1.Buka tautan/pindai Kode QR DANA Kaget yang dibagikan pengirim.</p>
                                <p class="mb-0">2.Tap Buka Sekarang untuk klaim DANA Kaget-nya.</p>
                            </div>
                        </div>
                        <a href="https://www.dana.id/" class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3">Read More</a>
                    </div>
                    <div class="col-lg-4">
                        <img src= "{{url_for('static', filename='img/dana.png')}} "class="img-fluid rounded wow zoomIn" data-wow-delay="0.5s" >
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->